name: CI/CD Pipeline

on: 
  pull_requests:
    branches: 
      - main

  jobs: 
    build:
      runs-on: ubuntu-latest

      steps: 
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: 20

        - name: Install dependencies
          working-directory: week-24.3.3
          run: npm install && npx prisma generate

        - name: Run tests
          working-directory: week-24.3.3
          run: npm run test